<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Avi-tok | Table 
	body

		include ./../sections/_header.pug

		main.main

			.container

				.table-box

					.table-box__item

						.table-action
							.table-action__box
								include ./../layouts/_tableSearch.pug
								+tableFilterBtn('default', 'Фильтр поиска')
							.table-action__box
								+addTable('Создать таблицу')

						.table-wrap
							.table
								-
									const tableHead = [
										{mod: 'name',     name: 'таблица'},
										{mod: 'pay',      name: 'дата оплаты'},
										{mod: 'comment',  name: 'примечание'},
										{mod: 'quantity', name: 'кол-во объявлений'}
									]
								.table-head 
									.table-head__col.table--num
										.search-number
											span.search-number__grid # 
											output.search-number__item 0
										svg.table-head__icon(width='16' height='10' viewBox='0 0 16 10' fill='none')
											path(d='M2.82843 0C1.04662 0 0.154284 2.15428 1.41421 3.41421L6.58579 8.58579C7.36684 9.36684 8.63317 9.36683 9.41421 8.58579L14.5858 3.41421C15.8457 2.15428 14.9534 0 13.1716 0H2.82843Z' fill='white')
									each item in tableHead
										div(class=`table-head__col table--${item.mod}`)
											span.table-head__name= item.name
											svg.table-head__icon(width='16' height='10' viewBox='0 0 16 10' fill='none')
												path(d='M2.82843 0C1.04662 0 0.154284 2.15428 1.41421 3.41421L6.58579 8.58579C7.36684 9.36684 8.63317 9.36683 9.41421 8.58579L14.5858 3.41421C15.8457 2.15428 14.9534 0 13.1716 0H2.82843Z' fill='white')

								.table-body.table-empty 
									.table-empty__text У вас нет таблиц, создайте новую!
									.desktop
										button.table-empty__btn.animate-boxshadow(data-popup="popup" data-src="#create-table")
											svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
												path(d='M20 11.4286H11.4286V20H8.57143V11.4286H0V8.57143H8.57143V0H11.4286V8.57143H20V11.4286Z' fill='white')
											span Создать таблицу

						.desktop
							+tableNav('disabled', '0', '0')

						.tooltip.tooltip-register 
							svg.tooltip__icon(width='20' height='20' viewBox='0 0 20 20' fill='none')
								path(d='M9 5H11V7H9V5ZM9 9H11V15H9V9ZM10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM10 18C5.59 18 2 14.41 2 10C2 5.59 5.59 2 10 2C14.41 2 18 5.59 18 10C18 14.41 14.41 18 10 18Z' fill='#00AAFF')
							p.tooltip__text На ваш E-mail было отправлено письмо для подтверждения регистрации. Если не получили письмо, проверьте спам. #[a(href="#") Отправить повторно] или #[a(href="#") Изменить почту.]

		.popup#create-table
			.popup__body.popup__body--720
				include ./../layouts/_closePopup.pug
				
				.popup__title Создать таблицу
				
				.position 
					.position-data.position-data--modal
						
						.edit-field
							.edit-field__pos
								.edit-field__box
									input.edit-field__input(type="text" placeholder="Введите название таблицы")

						table.position-data__table
							tr.position-data__item 
								td.position-data__col
									b.position-data__name XML Avito:
								td.position-data__col.position-data__col--flex
									a.position-data__val(href="#") 5042fade-b616-45c9-8221-8323cc2e11ee  
									include ./../layouts/_copyBtn.pug

						.position-data__fields 
							-
								const fields = [{name: 'Яндекс токен', value: '5042fadeb616-45c9-8221-8323cc2e11eeasdghsdfgsadgadg', classBtn: 'record'}, {name: 'Avito client_id', value: '', classBtn: 'add'}, {name: 'Avito client_secret', value: '', classBtn: 'add'}, {name: 'Avito user_id', value: '', classBtn: 'add'}, {name: 'Таблица Google', value: '', classBtn: 'add'}]
							each elem in fields 
								.edit-field
									.mobile 
										span.edit-field__name= elem.name
									.edit-field__box
										.desktop
											span.edit-field__name= elem.name
										input(class=`${elem.classBtn === 'record' ? 'edit-field__input edit-field__input--underline' : 'edit-field__input'}` type="text" value= elem.value)
									.desktop
										button(class=`edit-btn edit-btn--${elem.classBtn}`)
											if(elem.classBtn == 'record')
												svg(xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none')
													path(d='M0 15.8339V20H4.16609L16.4533 7.71282L12.2872 3.54673L0 15.8339ZM19.675 4.49104C20.1083 4.05777 20.1083 3.35787 19.675 2.92459L17.0754 0.324955C16.6421 -0.108318 15.9422 -0.108318 15.509 0.324955L13.4759 2.35801L17.642 6.52409L19.675 4.49104Z' fill='#FFF')
											else 
												svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M20 11.4286H11.4286V20H8.57143V11.4286H0V8.57143H8.57143V0H11.4286V8.57143H20V11.4286Z' fill='white')

						.create-info 
							a.create-info__btn(data-popup="popup" href="#explanation-table") Как создать? 

						.popup-actions
							button.js-popupClose.popup-actions__btn.popup-actions__btn--cancel Отменить
							button.popup-actions__btn.popup-actions__btn--ok Создать таблицу


		.popup#explanation-table 
			.popup__body.popup__body--720
				include ./../layouts/_closePopup.pug
				
				.popup__title Как создать таблицу?



		include ./../sections/_footer.pug

		include ./../sections/_scripts.pug