<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Avi-tok | Templates
	body
		include ./../sections/_header.pug
		
		main.main.templates
	
			.container

				br
				br

				h1 Модальные окна

				br

				button.position-pay__btn(data-popup="popup" data-src="#create-table") Создать таблицу

				br

				button.position-pay__btn(data-popup="popup" data-src="#explanation-table") Как создать
				
				br

				button.position-pay__btn(data-popup="popup" data-src="#activate-table") Активировать таблицу
				
				br

				button.position-pay__btn(data-popup="popup" data-src="#delete-table") Удалить таблицу
				
				br

				button.position-pay__btn(data-popup="popup" data-src="#save-change") Сохранить изменения
				
				br

				button.position-pay__btn(data-popup="popup" data-src="#create-analytics") Создать аналитику
				
				br

				button.position-pay__btn(data-popup="popup" data-src="#explanation-url") Откуда взять урл страницы
				
				br

				button.position-pay__btn(data-popup="popup" data-src="#successful") Успешно
				
				br

				button.position-pay__btn(data-popup="popup" data-src="#replenish-account") Пополнить счет
				
				br

				button.position-pay__btn(data-popup="popup" data-src="#invite") Создать приглашение?

				br
				br

				h1 Действия, Кнопки

				br
				
				+tableFilterBtn('close', 'Фильтр по названию')

				br

				.select.select-empty
					input.select__value(type="text" value="")
					.select__header
						svg.select__icon(width='14' height='9' viewbox='0 0 14 9' fill='none')
							path(d='M1.645 0L7 5.56275L12.355 0L14 1.71255L7 9L0 1.71255L1.645 0Z' fill='white')
						.select__current Показать еще
					.select__body
						each item in [1, 2, 3, 4, 5]
							.select__item(data-value=item)= `${item}`

				br

				.select
					input.select__value(type="text" value="")
					.select__header
						svg.select__icon(width='14' height='9' viewbox='0 0 14 9' fill='none')
							path(d='M1.645 0L7 5.56275L12.355 0L14 1.71255L7 9L0 1.71255L1.645 0Z' fill='white')
						.select__current Показать еще
					.select__body
						each item in [1, 2, 3, 4, 5]
							.select__item(data-value=item)= `${item}`

				br

				.tooltip
					svg.tooltip__icon(width='20' height='20' viewBox='0 0 20 20' fill='none')
						path(d='M9 5H11V7H9V5ZM9 9H11V15H9V9ZM10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM10 18C5.59 18 2 14.41 2 10C2 5.59 5.59 2 10 2C14.41 2 18 5.59 18 10C18 14.41 14.41 18 10 18Z' fill='#00AAFF')
					p.tooltip__text На ваш E-mail было отправлено письмо для подтверждения регистрации. Если не получили письмо, проверьте спам. #[a(href="#") Отправить повторно] или #[a(href="#") Изменить почту.]

				hr(style="margin: 40px 0; border-bottom: 1px solid grey")


				
				br

				.datetime 
					each item, i in [{day: 'Пн'}, {day: 'Вт', active: true}, {day: 'Ср'}, {day: 'Чт', active: true}, {day: 'Пт'}, {day: 'Сб'}, {day: 'Вс'}]
						a(href="#" class=`${item.active == true ? 'datetime__item datetime__item--active' : 'datetime__item'}`)= item.day


				br

				include ./../layouts/_date.pug

		// ВСЕ МОДАЛКИ ДОЛЖНЫ ЛЕЖАТЬ ВНЕ ТЕГА MAIN !!!
		include ./../layouts/_popupCreateTable.pug
		include ./../layouts/_popupActivateTable.pug
		include ./../layouts/_popupSaveChange.pug
		include ./../layouts/_popupDeleteTable.pug
		include ./../layouts/_popupCreateAnalytics.pug
		include ./../layouts/_popupFinance.pug
		include ./../layouts/_popupInvite.pug

		include ./../sections/_footer.pug
		
		include ./../sections/_scripts.pug